/* 헤더 */
.Header{
    position: absolute;
    width: 1920px;
    height: 150px;
    left: 0px;
    top: 0px;

    /* white */

    background: #FFFFFF;
}
#LoginBar{
    position: absolute;
    width: 1920px;
    height: 34px;
    left: 0px;
    top: 0px;

    /* gray/100 */
    background: #F3F3F3;
}

#LoginBarList{
    position: relative;
    width: 1020px;
    height: 24px;
    left: 450px;
    top: 5px;
}

.LoginBarItem1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    gap: 0px 8px;

    position: absolute;
    width: 156px;
    left: 864px;
    top: 5px;


    list-style: none;
}

.LoginBarItem2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px;
    padding-left: 0px;
    gap: 8px;

    position: absolute;
    width: 136px;
    left: 0px;
    top: 5px;

    list-style: none;
}

.LoginBarItem1 li{
    width: 50px;
    height: 14px;

    /* Text/Regular/12 */
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.LoginBarItem2 li{
    width: 62px;
    height: 14px;

    /* Text/Regular/12 */
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}


.Text{
    width: 60px;
    height: 14px;

    /* Text/Regular/12 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */



    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}


#GridBox{
    position: relative;

    display: grid;
    grid-template-columns: 110px 176px 516px 140px;
    grid-template-rows: 84px 32px;
    column-gap: 30px;

    width: 1040px;
    height:116px;
    top: 34px;
    left: 454px;

    border-bottom:
}


.button--category{
    position: relative;
    width: 110px;
    height: 116px;
    background-color: #0074E9;

    border-style: none;
}

#IconHamburger{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 40px;
    top: 30px;

    background-image: url("/assets/icon/hamburger.svg");
}

#BtnText{
    position: absolute;
    width: 50px;
    left: 29.55%;
    right: 29.55%;
    top: 62.07%;
    bottom: 25.86%;

    /* Text/Regular/12 */
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;

    color: #FFFFFF;
}

#Logo{
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    position: absolute;
    width: 176px;
    height: 40px;
    top: 34px;


    background-image: url("/assets/logo/logo.svg");
    background-size: contain;
}

#Category img{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 94px;
    top: 0px;
}

#Search{
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    position: absolute;
    width: 516px;
    height: 40px;
    top: 34px;
}

form{
    height: 40px;
    width: 516px;
    left: 810px;
    top: 68px;
}

.search-dropdown{
    position: relative;
    width: 135px;
    height: 40px;
    left: 0px;
    top: 0px;
}

.search-dropdown img{
    position: absolute;
    width: 9px;
    height: 6px;
    left: 109px;
    top: 17px;

    z-index: 1;
}

#Category{
    position: absolute;
    width: 135px;
    height: 40px;
    left: 0px;
    top: 0px;
    cursor: pointer;

}

#Category::-ms-expand{
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


#Category option{
    position: absolute;
    width: 23px;
    height: 14px;
    left: 12px;
    top: 13px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;

    /* gray/700 */
    color: #767676;
}

#SearchArea{
    position: absolute;
    height: 40px;
    left: 135px;
    right: 80px;
    top: 0px;
}

#iconMic{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 436px;
    top: 0px;

    border:none;

    background-image: url("/assets/icon/mic.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#iconSearch{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 476px;
    top: 0px;

    border: none;

    background-image: url("/assets/icon/search.svg");
    background-repeat:no-repeat;
    background-position: center;    
}


.mycoupangCart{
    display: flex;

    grid-column: 4 / 5;
    grid-row: 1 / 3;

    position: absolute;

    width: 140px;
    height: 58px;
    top: 34px;
}


#myCoupangBtn{
    position: relative;
    width: 65px;
    height: 58px;


    background-image: url("/assets/icon/my-coupang.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-style: none;
}

#myCoupang{
    position: absolute;
    width: 90px;
    height: 195px;
    left: 0px;
    top: 0px;

    display:flex;
    justify-content: center;
    border-style: none;

    
}

#ToolTipList{
    position: absolute;
    width: 90px;
    height: 137px;
    left: calc(50% - 90px/2 - 1px);
    top: 58px;
}

#myCoupang ul{
    position: absolute;
    width: 90px;
    height: 137px;
    left: calc(50% - 90px/2 - 1px);
    padding: 0px 0px;
    list-style: none;

    /* display: none; */
}

#myCoupang ul{
    position: absolute;
    width: 90px;
    height: 137px;
    left: calc(50% - 90px/2 - 1px);
    padding: 0px 0px;
    list-style: none;

    /* display: none; */
}

#myCoupang ul li{
    position: absolute;
    width: 60px;
    height: 14px;
    left: 17px;
    top: 35px;

    /* Text/Regular/12 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */

    text-align: center;
}

#myCoupang ul li:first-child {
  top: 0px;
}

#myCoupang ul li:nth-child(2) {
  top: 35x;
}

#myCoupang ul li:last-child {
  top: 70px;
}


.myCoupangText{
    position: absolute;
    width: 50px;
    height: 14px;
    left: 9px;
    top: 40px;

    /* Text/Regular/12 */
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
}


.cart{
    position: relative;
    width: 55px;
    height: 58px;
    left: 80px;

}

.cartBtn{
    position: absolute;
    width: 55px;
    height: 58px;

    background-image: url("/assets/icon/cart.svg");
    background-repeat:no-repeat;
    background-position: center;
    background-color: transparent;
    border-style: none;
}


#cartText{
    position: absolute;
    width: 50px;
    height: 14px;
    left: 4px;
    top: 40px;

    /* Text/Regular/12 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
}

#cartCount{
    position: absolute;
    width: 18px;
    height: 18px;

    left: 55%;
    right: 0%;
    top: 2.5%;
    bottom: 52.5%;

    /* blue/600 */
    background: #0074E9;

    border-radius: 50%;
}

#cartCount p{
    position: absolute;
    width: 7px;
    height: 14px;
    left: calc(50% - 7px/2);
    top: calc(50% - 14px/2);
    margin: 0px;

    /* Text/Regular/12 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */

    text-align: center;

    /* white */

    color: #FFFFFF;
}


#TypeNavigation{
    grid-column: 2 / 5;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 91px 102px 108px 73px 73px 73px 96px 50px 73px;
    grid-template-rows: 26px;
    /* row-gap: 2px; */

    /* flex-direction: row;
    justify-content: center;
    align-items: flex-start; */
    padding: 0px;
    gap: 2px;

    position: absolute;
    width: 755px;
    height: 26px;
    left: 0px;
    top: 0px;
    }

#TypeNavigation GNB{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;

    width: 90px;
    height: 14px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

